body
{
	background: rgb(13, 29, 73);
}

	.login_div1 , .login_div2
	{
		background: rgb(59, 118, 121);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgb(1, 5, 255);
border-radius: 10px;
border-top: 10px solid #261757;
padding: 10px;
float: none;
text-align: left;
}